//  Colors

// Primer Color
$white: #fff;
$snow: #FAFAFA;
$quick_silver: #A0A0A0;

// Segundo Colors
$jelly_bean: #E56353;
$salmon: #E97F72;
$pastel_pink: #F0A9A1;


// Tercer Color
$granity_white: #686963;
$taupe_grey: #91918D;
$grey: #BABAB8;

//Fuentes
$raleway:'Raleway', sans-serif;

// Peso de Fuentes
$bold: 700;
$regular: 400;
$extra-light: 200;

//Tamaño de Fuentes
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;

